.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
}

.work-entry {
	padding-left: 5%;
    padding-right: 5%;
}

a.no-click {
    pointer-events: none;
    cursor: default;
}